doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Alpha
    meta(name="description" content="Simple Express' opinionated boilerplate for Node.js web applications.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    block content
